<?xml version="1.0" encoding="utf-8"?> 
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" >
<wicket:panel>
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a wicket:id="headLogoLink" href="#">私密博客<sup></sup></a></h1>
			<h2>其实浪漫就这么简单</h2>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a wicket:id="headHompepageLink" href="#">homepage</a></li>
				<li><a href="#">photo gallery</a></li>
				<li><a wicket:id="headAboutusLink" href="#">about us</a></li>
				<li><a wicket:id="headSitemapLink" href="#">site map</a></li>
				<li><a href="#">contact us</a></li>
			</ul>
		</div>
	</div>
	<!-- end header -->
</wicket:panel>
</html>
  